<!DOCTYPE html>
<html data-ng-app="website" data-scroll>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="logo_32x32.png">
  <title>Developing Ideas - Web Apps, SaaS, Software as a Service, System Integration</title>
  <meta name="keywords" content="SaaS, IT services, java, android, ruby, rails, javascript, angularjs, ember.js, C++, Linux, Open Source, Nalis LTD, Valentin Aitken, Налис ЕООД, Валентин Ейткен" />

  <%= stylesheet_link_tag "custom" %>

  <link href='//fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="fb-root"></div>
<header data-ng-controller="HeaderController">
  <div class="layout">
    <a href="/">
    <h1 class="nalis">
      NALIS LTD
    </h1>
    </a>
    <h1>
      Brings Innovation
    </h1>
  </div>
  <div class="nav-container" id="header_navigation">
    <nav class="layout" >
      <a href="#">Home
      </a><a ng-click="scrollTo('services')" href="#services">Services
      </a><a ng-click="scrollTo('technologies')" href="#technologies">Technologies
      </a><a ng-click="scrollTo('open_source')" href="#open_source">Open Source
      </a><a ng-click="scrollTo('contact_form')" href="#contact_form">Contact Us
      </a><a ng-click="scrollTo('about')" href="#about">About Us</a>
    </nav>
  </div>
</header>
<main>
  <div>
    <%= partial 'views/top_page' %>
    <%= partial 'views/services' %>
    <%= partial 'views/technologies.html' %>
    <%= # partial 'views/experience.html'
    %>
    <%= partial 'views/open-source' %>
    <%= partial 'views/about' %>
    <%= partial 'views/contact_form' %>
  </div>
</main>
<footer>
  <div class="layout">
    <div class="footer-content">
      <%= partial 'views/contacts' %>
      <%= partial 'views/social_media' %>
    </div>
  </div>
  <span class="copyright">Copyright &copy; 2015</span>
</footer>
<!-- Include scripts -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="//platform.linkedin.com/in.js" type="text/javascript" async defer>
  lang: en_US
</script>
<script async defer>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1463720673863483&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= javascript_include_tag 'bower_deps' %>
<%= javascript_include_tag 'application' %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57364649-1', 'auto');
  ga('send', 'pageview');
</script>
</body>

</html>
