.open-source.layout#open_source
  %h1 The community

  %p We care about open source and we'd love to contribute to open source projects.
  %p
    We strongly support the projects of
    = link_to 'Obshtestvo', 'http://obshtestvo.bg', target: '_blank'
    We strongly recommend everyone in Bulgaria who cares about the environment to go and contribute to the projects. /It
    could be by making pull requests on
    = link_to 'github', 'http://github.com/obshtestvo', target: '_blank'
    , giving ideas, supporting the logistics of the existing projects, marketing them, etc./

  %ul
    %li
      = link_to 'Pitaigi.bg', 'http://pitaigi.bg', target: '_blank'
    %li
      = link_to 'http://github.com/bostko/doc2text', 'http://github.com/bostko/doc2text'
      \- it is a tool for converting document files into markdown. It is useful for developers or even for regular people who just doesn't want to install some office suite.
    %li
      = link_to 'https://github.com/Nalis/css-libs', 'https://github.com/Nalis/css-libs'
