#technologies.layout
  %h1 Technologies
  .columns
    %ul>
      %li= partial 'views/technologies_partials/web'
    %ul
      %li= partial 'views/technologies_partials/data'
      %li= partial 'views/technologies_partials/ecommerce'
    %ul>
      %li= partial 'views/technologies_partials/databases'
      %li= partial 'views/technologies_partials/administration'
      %li= partial 'views/technologies_partials/web_frameworks'
    %ul
      %li= partial 'views/technologies_partials/ruby'
      %li= partial 'views/technologies_partials/java'
      %li= partial 'views/technologies_partials/low_level'

  %h2 Experience

  We can help you to guide you through the development cycle in the best possible way in order to receive a quality product which matters.
  %br
  We are experienced in developing single page web applications, scalable and multi-platform applications and solutions for a wide range of business sectors like custom ERP systems, Aviation Industry, Telecommunication services, Social media, Data scrapping.
  %br
  We worked for world leading software companies including:
  %ul
    %li Evolink Inc.
    %li Aviaso Inc.
    %li Despark Ltd.