<div class="columns">
  <ul>
    <li>
      <%= partial 'technologies_partials/web' %>
    </li>
  </ul><ul>
    <li>
      <%= partial 'technologies_partials/data' %>
    </li>
    <li>
      <%= partial 'technologies_partials/ecommerce' %>
    </li>
  </ul><ul>
    <li>
      <%= partial 'technologies_partials/databases' %>
    </li>
    <li>
      <%= partial 'technologies_partials/administration' %>
    </li>
    <li>
      <%= partial 'technologies_partials/web_frameworks' %>
    </li>
  </ul><ul>
    <li>
      <%= partial 'technologies_partials/ruby' %>
    </li>
    <li>
      <%= partial 'technologies_partials/java' %>
    </li>
    <li>
      <%= partial 'technologies_partials/low_level' %>
    </li>
  </ul>
</div>
