.columns#technologies
  %ul>
    %li= partial 'views/technologies_partials/web'
  %ul
    %li= partial 'views/technologies_partials/data'
    %li= partial 'views/technologies_partials/ecommerce'
  %ul>
    %li= partial 'views/technologies_partials/databases'
    %li= partial 'views/technologies_partials/administration'
    %li= partial 'views/technologies_partials/web_frameworks'
  %ul
    %li= partial 'views/technologies_partials/ruby'
    %li= partial 'views/technologies_partials/java'
    %li= partial 'views/technologies_partials/low_level'
